.header{
    height: var(--header-height);
    background-image: linear-gradient(0, rgb(254, 100, 51), #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
}

.header__navbar-item,
/* .header__navbar-icon, */
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon{
    display: inline-flex;
    align-items: center;
}

/* .header__navbar-item--none-hover{
    pointer-events: none;
} */

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;

}


.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--strong{
    font-weight: 550;
}

.header__navbar-user{
    display: flex;
    position: relative;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 11px;
}

.header__navbar-user-name{
    margin-left: 6px;
}

.header__navbar-user-menu{
    position: absolute;
    list-style: none;
    padding: 0;
    top: calc(100% + 5px);
    right: 0;
    background-color: var(--white-color);
    z-index: 1;
    padding: 0;
    width: 160px;
    box-shadow: 1px 5px 8px 3px rgba(0,0,0,0.25);
    border-radius: 3px;
    margin: 0;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user::after{
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    right: 0;
    opacity: 0;
    top: 20px;
}

.header_navber-user-item:first-child a{
    padding-top: 6px;
}

.header_navber-user-item a:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header_navber-user-item a:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header_navber-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    width: 100%;
    padding: 6px 16px;
    display: block;
}

.header_navber-user-item a:hover{
    background-color: #fafafa;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 10px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 15px;
    top: -20px;
}

/* .header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fb9086;
    height: 12px;
    left: -9px;
    top: 50%;
    transform: translateY(-50%);
    
} */

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 5px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* NOTIFICATION */

.header__notify{
    position: absolute;
    top: 100%;
    width: 400px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #888;
    margin-top: 5px;
    cursor: default;
    user-select: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    /* tối ưu sự thay đổi của trình duyệt */
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}   

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 15px;
    top: -30px;
}

.header__notify-header::before{
    content: "";
    width: 90px;
    height: 20px;
    background-color: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: -10px;
}

@keyframes headerNotifyGrowth {
    from{
        opacity: 0.3;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    color: #999;
}  

.header__notify-header h3{
    font-weight: 400;
    margin: 0 5px;
    font-size: 1.4rem;
    line-height: 40px;
}  

.header__navbar-list{
    margin: 6px 0 4px 0;
    display: flex;
}

.header__notify-list{
    padding: 0;
}    
.header__notify-item{
    list-style: none;
}    

.header__notify-item:hover{
    background-color: rgba(200, 200, 200, 0.1);
}

.header__notify-item--viewed{
    background-color:  rgba(254, 100, 51, 0.09);
}

.header__notify-link{
    display: flex;
    padding: 10px;
    text-decoration: none;
}

.header__notify-item-image{
    width: 40px;
}
.header__notify-info{
    color: var(--black-color);
    margin-left: 10px;
}    
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}    
.header__notify-descriotion{
    display: block;
    font-size: 12px;
    line-height: 1.6rem;
    color: #999;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    padding: 10px;
    margin: auto;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
}

/* Đăng ký */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.5s;
}

.modal--hidden{
    display: none;
}

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.auth-form--hidden-login{
    display: none;
}

.auth-form--hidden-register{
    display: none;
}

/* .modal__body{
    background-color: var(--white-color);
    margin: auto;
    z-index: 1;
    border-radius: 5px;
} */

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 20px;
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.4rem;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}  

.auth-form__social{
    background-color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__social-icon{
    font-size: 1.8rem;
}

.auth-form__social
.auth-form__social--facebook {
    color: var(--white-color);
    background-color: #3A5A96;
    /* padding-left: 10px; */
}

.auth-form__social--facebook
.auth-form__social-icon{
    color: var(--white-color);
}

.auth-form__social-lable{
    padding: 0 24px;
}

.auth-form__social
.auth-form__social--google {
    color: #666;
    background-color: var(--white-color);
    /* padding-left: 10px; */
}

/* Login */


.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 22px;
    margin: -4px 16px 0;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

.auth-form__help-help{
    color: #888;
}

/* Header with search */
.header-with-search{
    height: var(--header-search);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo{
    margin-right: 80px;
}

.header__logo-link{
    width: 160px;
}

.header__search{
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart{
    padding: 0 20px 0 60px;
    position: relative;
}

/* .header__cart::after{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 10px;
} */

.header__cart-icon{
    font-size: 2.5rem;
    color: var(--white-color);
}

.header__cart-wrap{
    cursor: pointer;
}

.header__cart-list{
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    width: 400px;
    right: 10px;
    box-shadow: 1px 5px 8px 3px rgba(0,0,0,0.25);
    border-radius: 3px;
    flex-direction: column;
    display: none;
    cursor: default;
    min-height: 40px;
    margin: 10px 0;
    z-index: 1;
}

.header__cart-wrap:hover .header__cart-list{
    display: flex;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 2px;
    top: -30px;
    cursor: pointer;
}

.header__cart-list--no-cart{
    margin: 10px 0;
    min-height: 40px;
}

.header__cart-no-cart-img{
    width: 40%;
    margin: auto;
    display: none;
}

.header__cart-list-no-cart-msg{
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400px;
    color: var(--text-color);
    display: none;
    padding: 10px 0 20px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
}

.header__search-input-wrap{
    position: relative;
    flex: 1;
    height: 100%;
}

.header__cart-notify{
    position: absolute;
    background-color: var(--white-color);
    font-size: 1.2rem;
    padding: 2px 4px;
    border-radius: 7px;
    color: var(--primary-color);
    top: -5px;
    right: 10px;
    border: 1px solid #e22e1d;
}


/* Có sản phầm */
.header__cart-heading{
    font-size: 1.4rem;
    padding: 0 12px;
    font-weight: 500;
    color: #999;
    margin: 15px 0;
}

.header__cart-list-item{
    margin: 0;
    list-style: none;
    padding: 0;
}

.header__cart-item{
    display: flex;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-item:hover{
    background-color: rgb(236, 236, 236);
}

.header__cart-img{
    display: flex;
}

.header__cart-img-link{
    width: 60px;
    margin: auto;
}

.header__cart-item-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
}

.header__cart-item-head{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

/* .header__cart-item-price{

}

.header__cart-item-multiply{

}

.header__cart-item-qnt{

} */

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    font-size: 1rem;
    line-height: 1.4rem;
    color: #999;
}

.header__cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-button{
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn-link{
    text-decoration: none;
    color: var(--white-color);
    height: 100%;
    width: 100%;
    line-height: 36px;
}

.header__cart-button .btn:hover{
    background-color: #fc5b31;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select{
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    align-content: center;
    cursor: pointer;
}

.header__search-select::after{
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 100%;
    right: 0;
    opacity: 0;
}

.header__search-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.4rem;
    margin: 0 16px;
    position: relative;
    top: 2px;
    color: #888;
}

.header__search-btn{
    background-color: var(--primary-color);
    width: 80px;
    padding: 9px;
    margin-right: 2px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover{
    opacity: 0.8;
}

.header__search-icon{
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    width: 150px;
    list-style: none;
    top: 100%;
    right: 0;
    margin-top: 16px;
    padding: 0;
    box-shadow: 1px 5px 8px 3px rgba(0,0,0,0.25);
    border-radius: 4px;
    overflow: hidden;
    display: none;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 16px 8px;
    display: flex;
}

.header__search-option-item:hover{
    background-color: #f0ecec;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    flex: 1;
    text-align: center;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 0 5px;
}

/* search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 3px);
    width: 80%;
    left: 0;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0px 1px 3px 1px #b9b7b7;
    display: none;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history-heading{
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* app container */
.app__container{
    background-color: #f5f5f5;
    padding-top: 36px;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading{
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.category-item{
    position: relative;
}

.category-item:first-child::before{
    display: none;
}

.category-item::before{
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    top: 50%;
    transform: translateY(calc(-50%));
    left: 6px;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */

.home-filter{
    background-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    margin-left: 5px;
}

.home-filter__lable{
    font-size: 1.4rem;
    color: #666;
    margin-right: 16px;
}

.home-filter .home-filter-btn{
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    width: 72px;
    height: 36px;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
}

.home-filter__page-btn{
    background-color: var(--white-color);
    flex: 1;
    color: var(--text-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid rgb(230, 230, 230);
}

.home-filter__page-icon{
    font-size: 1.4rem;
    margin: auto;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}

/* product */

.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: block;
    text-decoration: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 0.05);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.1);
}

.home-product-item__img{
    padding-top: 100%;
    /* background-repeat: round; */
    background-size: cover;
    /* background-position: center; */
}
.home-product-item__name{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    /* dấu 3 chấm */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price{
    display: flex;
    
    justify-items: center;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.4rem;
    margin: 0 0 0 10px;
    line-height: 1.4rem;
    color: #888;
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    margin-left: 10px;
    line-height: 1.6rem;
    color: var(--primary-color);
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.home-product-item__like{
    font-size: 1.2rem;
}

i.home-product-item__like-icon-fill{
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__rating{
    color: #D5D5D5;
    font-size: 1rem;
    margin-left: auto;
}

.home-product-item-sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
    font-weight: 500;
}

.home-product-item__star--gold{
    color: var(--star-gold-color);
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0 10px 10px 10px;
    font-weight: 300;
    color: #888;
}

.home-product-item__pavourite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__pavourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__pavourite span{
    color: var(--white-color);
}

.home-product-item__pavourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    color: rgba(255,216,57,0.9);
    background-color: currentColor;
    text-align: center;
    padding-top: 3px;
    
}

.home-product-item__sale-off::after{
    content: "";
    border-width: 0 20px 6px;
    right: 0;
    bottom: -6px;
    position: absolute;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent{
    color: #EE4E2D;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
}
.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
}

/* pagination */

.pagination{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.pagination-item{
    margin: 0 8px;
}

.pagination-item__link{
    font-size: 1.6rem;
    text-decoration: none;
    color: #939393;
    height: 30px;
    min-width: 40px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover{
    background-color: #fe6333;
}

.pagination-item__icon{
    font-size: 1.6rem;
}

.home-product__pagination{
    margin: 38px 0 26px 0;
}

/* footer */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    margin-bottom: 18px;
}

.footer__heading{
    font-size: 1.4rem;
    color: var(--text-color);
}

.footer-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-item__link{
    text-decoration: none;
    /* display: block; */
    font-size: 1.2rem;
    color: #666;
    line-height: 2.2rem;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__icon{
    font-size: 1.8rem;
}